/***************************************************************************************
 * 
 * ██████╗ ██╗     ██╗   ██╗███╗   ██╗███╗   ██╗███████╗    ██████╗  ██████╗ ███████╗██╗
 * ██╔══██╗██║     ██║   ██║████╗  ██║████╗  ██║██╔════╝    ██╔══██╗██╔═══██╗██╔════╝██║
 * ██████╔╝██║     ██║   ██║██╔██╗ ██║██╔██╗ ██║█████╗      ██████╔╝██║   ██║█████╗  ██║
 * ██╔═══╝ ██║     ██║   ██║██║╚██╗██║██║╚██╗██║██╔══╝      ██╔══██╗██║   ██║██╔══╝  ██║
 * ██║     ███████╗╚██████╔╝██║ ╚████║██║ ╚████║███████╗    ██║  ██║╚██████╔╝██║     ██║
 * ╚═╝     ╚══════╝ ╚═════╝ ╚═╝  ╚═══╝╚═╝  ╚═══╝╚══════╝    ╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝
 *
 * Repo : https://github.com/Plunne/plunne_rofi
 *
 ***************************************************************************************/

configuration {
    icon-theme: 			"Flatery-Dark";
    show-icons:    			true;
    display-drun: 			" ";
    display-window: 		" ";
    display-run: 			" ";
    display-ssh: 			" ";
    display-emoji: 			" ";
    display-calc: 			" ";
    drun-display-format:    "{name}";
    disable-history:        false;
    fullscreen:             true;
	hide-scrollbar: 		true;
	sidebar-mode: 			false;
	modi: "drun,window,run,emoji";
}

@theme "/dev/null"

* {
    font: "JetBrainsMono NerdFont 11";

    background-color: transparent;

    margin:     0px;
    padding:    0px;
    spacing:    0px;

    color01:    	#9783b1;
    color02:    	#6c5689;
    color03:    	#5e4a77;
    color-dark:    	#503f65;
    color-darker:   #342942;
    color-black:    #251d2f;
    color-light:    #c4b8d3;
    color-teal:    	#1abc9c;
    color-dark-transparent:     #503f65e5;
    color-darker-transparent:   #342942e5;
    color-black-transparent:    #1e1826e5;

}

window {
    background-color:   @color-black-transparent;
    location:           center;
    width:              580;
    y-offset:           0;
    border:       		1px;
    border-radius:      8px;
    border-color:       @color-dark-transparent;
}

inputbar {
    background-color:   @color-darker-transparent;
    padding:            18px 30px;
    spacing:            16px;
    children:           [ prompt, entry ];
}

prompt {
    font:               "JetBrainsMono NerdFont 20";
    text-color:         @color01;
    vertical-align:     0.5;
}

entry {
    font:               "JetBrainsMono NerdFont 14";
    text-color:         @color01;
    placeholder:        "Search";
    placeholder-color:  @color-dark-transparent;
    vertical-align:     0.5;
}

message {
    text-color:         @color-dark;
    border-color:       @color01;
    background-color:   @color-black-transparent;
}

textbox {
    padding:            8px 24px;
}

listview {
    margin:             18px;
    lines:              5;
    columns:            1;
    fixed-height:       false;
}

element {
    text-color:         @color01;
    padding:            6px;
    spacing:            20px;
}

element normal active {
    text-color:         @color-light;
}

element selected normal, element selected active {
    text-color:         @color-teal;
}

element-icon {
    size:               36px;
    vertical-align:     0.5;
}

element-text {
    text-color:         inherit;
    vertical-align:     0.5;
}

/* vim:ft=css
